<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "true"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="PHPUnitDesktopNotifier\Listener\PHPUnitDesktopNotifierListener">
            <arguments>
                <object class="PHPUnitDesktopNotifier\Counter\PHPUnitTestCounter" />
            </arguments>
        </listener>
    </listeners>
</phpunit>
